<div class="navbar bg-neutral text-neutral-content">
    <div class="flex-1">
        <a href="/" class="btn normal-case text-xl">Congress Viewer</a>
    </div>
    <div class="flex-none">
        <ul class="menu menu-horizontal p-0">
            <li>
                <a href="/members/">Members</a>
            </li>
            <li>
                <a href="/bills">Bills</a>
            </li>
            <li>
                <a href="/amendments/">Amendments</a>
            </li>
            <li>
                <a href="/summaries/">summaries</a>
            </li>
            <li>
                <a href="/treaties/">Treaties</a>
            </li>
        </ul>
    </div>
</div>
